{% load static %}
{% load leaflet_tags %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
        <title>Routers - {{ title }}</title>
    {% else %}
        <title>Routers</title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static "routing/leaflet-routing-machine.css" %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>

    <style>
        .leaflet-container { /* all maps */
            height: 100vh;
        }
    </style>

</head>
<body>

<script type="text/javascript">
    function our_routing(map) {
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
        L.Routing.control({
            waypoints: [
                L.latLng(-0.23, 36.87),
                L.latLng(0.23, 37.64)
            ],
            routeWhileDragging: true,
            geocoder: L.Control.Geocoder.nominatim(),
        }).on('routeselected', function (e) {
            var route = e.route;
            console.log(route)
            console.log(route.name);
            console.log(route.summary.totalDistance)
            console.log(route.inputWaypoints[0].latLng)
            console.log(route.inputWaypoints[1].latLng)
            console.log(JSON.stringify(route.inputWaypoints, null, 2))
            {#alert('Showing route between waypoints:\n' + JSON.stringify(route.inputWaypoints, null, 2));#}
        }).addTo(map);
    }
</script>
{% include "web/navbar.html" %}
<div class="">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}
</div>


<script src="{% static "routing/leaflet-routing-machine.js" %}"></script>
<script src="{% static "js/scripts.js" %}"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->
</body>
</html>