{% extends "web/base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <script type="text/javascript">
        function our_routing(map) {
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);
            L.Routing.control({
                routeWhileDragging: true,
                geocoder: L.Control.Geocoder.nominatim(),
            }).
            {#on('routingstart', showSpinner)#}
            {#    .on('routesfound routingerror', hideSpinner).#}
            on('routeselected', function (e) {
                let route = e.route;
                $.ajax({
                    type: "POST",
                    url: "/search/",
                    data: {
                        "route": JSON.stringify(route),
                    },
                    success: function (data) {
                        let distance = route['summary']['totalDistance'];
                        data = JSON.parse(data.saccos);
                        $('#js-sacco-title').replaceWith('<h1 id="js-sacco-title"> Saccos on ' + route.name + '</h1>');
                        let saccosHTML = '';
                        data.forEach(function (element) {
                            saccosHTML += '<p>' + element.fields.name + '</p>';
                        })
                        $('#js-sacco-content').replaceWith('<div id="js-sacco-content">' + saccosHTML + '</div>');
                    },
                    failure: function (data) {
                        console.log("failure");
                        console.log(data);
                    },
                });
            }).addTo(map);
        }
    </script>
    <div class="leaflet-container">{% leaflet_map "routers" callback="window.our_routing" %}</div>

    <div class="container mt-5">
        <h1 id="js-sacco-title"></h1>
        <div class="my-3">
            <div id="js-sacco-content">

            </div>
        </div>
    </div>
{% endblock %}