{% extends "web/base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
{#    {% if location or destination %}#}
{#        <h1>Routes containing "{{ location }}" or "{{ destination }}"</h1>#}
{#        <h3>#}
{#            {% with routes.count as total_results %}#}
{#                Found {{ total_results }} route{{ total_results|pluralize }}#}
{#            {% endwith %}#}
{#        </h3>#}
{#        {% for route in routes %}#}
{#            <h4><a href="{{ route.get_absolute_url }}">{{ route.name }}</a></h4>#}
            {#{{ post.body|truncatewords:5 }}#}
            {#{% empty %}#}
            {#<p>There are no results for your query.</p>#}
{#        {% endfor %}#}
{#        <p><a href="{% url 'home' %}">Search again</a></p>#}
{#    {% else %}#}
{#        <h1>Search for routes</h1>#}
{#        <form action="." method="get">#}
{#            {{ form|crispy }}#}
{#            <input type="submit" value="Search" class="btn btn-outline-info">#}
{#        </form>#}
{#    {% endif %}#}
    <div class="leaflet-container">{% leaflet_map "routers" callback="window.our_routing" %}</div>
{% endblock %}